{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block content %}
	<table border="0" width="100%" height="25px">
	<tr>
		<td bgcolor="#92160D"><center><font color="#FFF">Exam</font></center></td>
		<td bgcolor="#CD820D"><center><font color="#FFF">Con#</font></center></td>
		<td bgcolor="#3A8408"><center><font color="#FFF">MM#</font></center></td>
		<td bgcolor="#04376F"><center><font color="#FFF">Stereo</font></center></td>
		<td bgcolor="#3E046F"><center><font color="#FFF">Infusion</font></center></td>
		<td bgcolor="#666231"><center><font color="#FFF">DR</font></center></td>
		<td bgcolor="#550000"><center><font color="#FFF">US</font></center></td>
		<td bgcolor="#003D00"><center><font color="#FFF">UBX</font></center></td>
		<td bgcolor="#3D4557"><center><font color="#FFF">I-Lab/INF-Exam</font></center></td>
		<td bgcolor="#008B8B"><center><font color="#FFF">Intake</font></center></td>
		<td bgcolor="#000000"><center><font color="#FFF">Waiting Room</font></center></td>
		<td bgcolor="#63FA20"><center><font color="#000">O</font></center></td>
		<td bgcolor="#E820FA"><center><font color="#000">A</font></center></td>
		<td bgcolor="#0000FF"><center><font color="#000">P</font></center></td>
		<td bgcolor="#FAF720"><center><font color="#000">D</font></center></td>
		<td bgcolor="#FF3333"><center><font color="#000">R</font></center></td>
		<td bgcolor="#20FAD4"><center><font color="#000">C</font></center></td>
		<td bgcolor="#9932CC"><center><font color="#000">S</font></center></td>
		<td bgcolor="#FFFFFF"><center><font color="#000">X</font></center></td>
		<td bgcolor="#1E90FF"><center><font color="#000">H</font></center></td>
	</tr>
	<tr>
		<td> </td>
		<td> </td>
		<td colspan=5>{% crispy form %} <br> {% crispy form2 %} <br><a href=?sorted=True>Sort By Start</a> | <a href=?sorted=True&left_align=True>Left Align</a> | <a href='?by_room=True'>By Room</a> | <a href='?'>Unsorted</a></td>
			<td colspan=5>
			<div id=pie name=pie>
				  <svg style='height:300px;width:400px'> </svg>

			</div>
		</td>
	
	</tr>
	<tr>
		<td> </td>
		<td colspan=10><br>

			{% for s in sorted_task_names %}
				{{s}} = {{stats|lookup:s | floatformat:"-2"}} min.
			{% endfor %}
		</td>
	</tr>
</table>

    <div style="z-index:-10;" id='timeline'>
    </div>
{% endblock %}

{% block right_content %}

{% endblock %}

{% block extra_js %}

	<script language="javascript">

	$(document).ready(function() {
		//Add Task Start Time and Date, End Time and Date, Name, and Status
		//Sample Below
		///*var tasks = [

		//Task 1
		//{"startDate":new Date("Thurs Jun 12 13:54:00 EST 2014"),"endDate":new Date("Thurs Jun 12 13:58:00 EST 2014"),"taskName":"Task 1","status":"Wait"},

		var tasks = {{ tasks | safe }};

		var taskStatus = {
			"O" : "O-Flag",
			"A" : "A-Flag",
			"P" : "P-Flag",
			"D" : "D-Flag",
			"R" : "R-Flag",
			"C" : "C-Flag",
			"S"	: "S-Flag",
			"X" : "X-Flag",
		    "Exam" : "exam",
		    "Con" : "Consult",
		    "MM" : "Mammography",
		    "Wait" : "Waiting",
		    "Inf" : "Infusion",
		    "DR" : "DR",
		    "US" : "US",
		    "UBX" : "UBX",
		    "Stereo" : "Stereo",
		    "Intake" : "Intake",
		    "I" : "I-Extra"
		};

		//Add Tasks for Y-Axis of Gantt
		var taskNames = {{ task_names | safe}};

		tasks.sort(function(a, b) {
		    return a.endDate - b.endDate;
		});
		var maxDate = tasks[tasks.length - 1].endDate;

		tasks.sort(function(a, b) {
		    return a.startDate - b.startDate;
		});
		var minDate = tasks[0].startDate;

		var format = "%Y-%m-%d %H:%M";
	    	

		var gantt = d3.gantt(tasks).taskTypes(taskNames).taskStatus(taskStatus).tickFormat(format);
		gantt(tasks);
	});

      $(document).ready(function() {
           // initializing switch-graph-form (if applicable)
            if ($('#switch-graph-form').length) {
                $('#id_switch_graph').change(function() {
                    window.location = $('#id_switch_graph').val();
                });
            }

            if ($('#switch-graph-form2').length) {
                $('#id_dept').change(function() {
                    window.location = $('#id_dept').val();
                });
            }
	});

    d3.gantt = function(tasks) {
        var FIT_TIME_DOMAIN_MODE = "fit";
        var FIXED_TIME_DOMAIN_MODE = "fixed";
        
        var margin = {
            top : 20,
            right : 40,
            bottom : 20,
            left : 150
        };
        var timeDomainStart = d3.time.day.offset(new Date(),-3);
        var timeDomainEnd = d3.time.hour.offset(new Date(),+3);
        var timeDomainMode = FIT_TIME_DOMAIN_MODE;// fixed or fit
        var taskTypes = [];
        var taskStatus = [];
        var height = document.body.clientHeight - margin.top - margin.bottom-5;
        var width = document.body.clientWidth - margin.right - margin.left-5;
        
        var tickFormat = "%H:%M";
        
        var keyFunction = function(d) {
            return d.startDate + d.taskName + d.endDate;
        };
        
        var rectTransform = function(d) {
            return "translate(" + x(d.startDate) + "," + y(d.taskName) + ")";
        };
        
        var x = d3.time.scale().domain([ timeDomainStart, timeDomainEnd ]).range([ 0, width ]).clamp(true);
        
        var y = d3.scale.ordinal().domain(taskTypes).rangeRoundBands([ 0, height - margin.top - margin.bottom ], .1);
        
        var xAxis = d3.svg.axis().scale(x).orient("bottom").tickFormat(d3.time.format(tickFormat)).tickSubdivide(true)
        .tickSize(8).tickPadding(8);
        
        var yAxis = d3.svg.axis().scale(y).orient("left").tickSize(0);
        
        var initTimeDomain = function() {
            if (timeDomainMode === FIT_TIME_DOMAIN_MODE) {
                if (tasks === undefined || tasks.length < 1) {
                    timeDomainStart = d3.time.day.offset(new Date(), -3);
                    timeDomainEnd = d3.time.hour.offset(new Date(), +3);
                    return;
                }
                tasks.sort(function(a, b) {
                           return a.endDate - b.endDate;
                           });
                           timeDomainEnd = tasks[tasks.length - 1].endDate;
                           tasks.sort(function(a, b) {
                                      return a.startDate - b.startDate;
                                      });
                                      timeDomainStart = tasks[0].startDate;
            }
        };
        
        var initAxis = function() {
            x = d3.time.scale().domain([ timeDomainStart, timeDomainEnd ]).range([ 0, width ]).clamp(true);
            y = d3.scale.ordinal().domain(taskTypes).rangeRoundBands([ 0, height - margin.top - margin.bottom + 0], .1); //h
            xAxis = d3.svg.axis().scale(x).orient("bottom").tickFormat(d3.time.format(tickFormat)).tickSubdivide(true)
            .tickSize(8).tickPadding(8);
            
            yAxis = d3.svg.axis().scale(y).orient("left").tickSize(0);
        };
        
        function gantt(tasks) {
            
            initTimeDomain();
            initAxis();
            
            var svg = d3.select("body")
            .append("svg")
            .attr("class", "chart")
            .attr("width", width + margin.left + margin.right)
            .attr("height", height + margin.top + margin.bottom + 600) //h
            .append("g")
            .attr("class", "gantt-chart")
            .attr("width", width + margin.left + margin.right)
            .attr("height", height + margin.top + margin.bottom )
            .attr("transform", "translate(" + margin.left + ", " + margin.top + ")");
            
            svg.selectAll(".chart")
            .data(tasks, keyFunction).enter()
            .append("rect")
            .attr("rx", 5)
            .attr("ry", 5)
            .attr("class", function(d){
                  if(taskStatus[d.status] == null){ return "bar";}
                  	return taskStatus[d.status];
                  })
                  .attr("y", 0)
                  .attr("transform", rectTransform)
		  //.attr('rel', 'tooltip')
		  //.attr("title", 'titleasdfjl')
		  //.attr('data-toggle',"tooltip")
                  .attr("height", function(d) { return y.rangeBand(); })
                  .attr("width", function(d) {
                        return (x(d.endDate) - x(d.startDate));
                        });
                        
                        
                        svg.append("g")
                        .attr("class", "x axis")
                        .attr("transform", "translate(0, " + (-12) + ")" ) //(height - margin.top - margin.bottom) /
                        .transition()
                        .call(xAxis);
                        
                        svg.append("g").attr("class", "y axis").transition().call(yAxis);
                        
                        return gantt;
                        
        };
        
        gantt.redraw = function(tasks) {
            
            initTimeDomain();
            initAxis();
            
            var svg = d3.select("svg");
            
            var ganttChartGroup = svg.select(".gantt-chart");
            var rect = ganttChartGroup.selectAll("rect").data(tasks, keyFunction);
            
            rect.enter()
            .insert("rect",":first-child")
            .attr("rx", 5)
            .attr("ry", 5)
            .attr("class", function(d){
                  if(taskStatus[d.status] == null){ return "bar";}
                  return taskStatus[d.status];
                  })
                  .transition()
                  .attr("y", 0)
                  .attr("transform", rectTransform)
                  .attr("height", function(d) { return y.rangeBand(); })
                  .attr("width", function(d) {
                        return (x(d.endDate) - x(d.startDate));
                        });
                        
                        rect.transition()
                        .attr("transform", rectTransform)
                        .attr("height", function(d) { return y.rangeBand(); })
                        .attr("width", function(d) {
                              return (x(d.endDate) - x(d.startDate));
                              });
                              
                              rect.exit().remove();
                              
                              svg.select(".x").transition().call(xAxis);
                              svg.select(".y").transition().call(yAxis);
                              
                              return gantt;
        };
        
        gantt.margin = function(value) {
            if (!arguments.length)
            return margin;
            margin = value;
            return gantt;
        };
        
        gantt.timeDomain = function(value) {
            if (!arguments.length)
            return [ timeDomainStart, timeDomainEnd ];
            timeDomainStart = +value[0], timeDomainEnd = +value[1];
            return gantt;
        };
        
        /**
         * @param {string}
         *                vale The value can be "fit" - the domain fits the data or
         *                "fixed" - fixed domain.
         */
        gantt.timeDomainMode = function(value) {
            if (!arguments.length)
            return timeDomainMode;
            timeDomainMode = value;
            return gantt;
            
        };
        
        gantt.taskTypes = function(value) {
            if (!arguments.length)
            return taskTypes;
            taskTypes = value;
            return gantt;
        };
        
        gantt.taskStatus = function(value) {
            if (!arguments.length)
            return taskStatus;
            taskStatus = value;
            return gantt;
        };
        
        gantt.width = function(value) {
            if (!arguments.length)
            return width;
            width = +value;
            return gantt;
        };
        
        gantt.height = function(value) {
            if (!arguments.length)
            return height;
            height = +value;
            return gantt;
        };
        
        gantt.tickFormat = function(value) {
            if (!arguments.length)
            return tickFormat;
            tickFormat = value;
            return gantt;
        };
        
        return gantt;
    };

  </script>


  <script language=javascript>
	 $(document).ready(function() {
		var data = {{ pie_data|safe }};
	
		nv.addGraph(function() {
		  var chart = nv.models.pieChart()
		      .x(function(d) { return d.name; })
		      .y(function(d) { return d.count; })
		      //.color(function(d) { return d.color; })
		      .showLabels(true);

		    d3.select("#pie svg")
			.datum(data)
			.transition().duration(350)
			.call(chart);

		  return chart;
		});
	});

  </script>

{% endblock %}


